body {
    font-family: monospace;
    text-align: center
}

h2.title {
    margin: 2rem 0 1rem 0;
}

hr.short {
    max-width: 230px;
}

.experience {
    margin: 1rem 0;
}

.experience .job-title {
    font-weight: bold;
}

.education {
    margin: 1rem 0;
}

.education .degree {
    font-weight: bold;
}

.other-links a {
    display: block;
}

img.picture {
    margin: 1rem 0;
    border-radius: 100px;
}

a.contact {
    margin: 1rem 0;
    display: block;
}