body {
    margin: 40px auto;
    line-height: 1.6;
    font-size: 16px;
    color: #444;
    padding: 0 10px;
    font-family: monospace;
    text-align: center
}

h1,h2,h3 {
    line-height:1.2;
}

hr.short {
    max-width: 230px;
}

.experience {
    margin: 1rem 0;
}

.experience .job-title {
    font-weight: bold;
}

.education {
    margin: 1rem 0;
}

.education .degree {
    font-weight: bold;
}

img.picture {
    margin: 1rem 0;
    border-radius: 100px;
    padding: 2px;
    border: 1px solid black;
}

.nowrap {
    white-space: nowrap;
}